@import "tailwindcss";

/* Hide scrollbar across all browsers while keeping scrolling active */
html,
body,
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
  width: 0px !important;
  height: 0px !important;
}
